{% extends 'base.html' %}

{% block content %}
<br/>
<h1>Shopping Cart</h1>
{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<div class="credentials-container">
  <p>Your Items:</p>
  <div class="cart-table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#|Type</th>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
        {% for item in cart %}
          <tr>
            <th scope="row">{{ item }}</th>
            <td>{{ cart[item]['item'] }}</td>
            <td>£{{ cart[item]['price'] }}</td>
            <td>{{ cart[item]['quantity'] }}</td>
            <td><a class="btn btn-danger" href="{{ url_for('remove_item', id=item) }}">Remove Item</a></td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: right;">
      <a class="btn btn-danger" href="{{ url_for('clear_cart') }}">Clear Cart</a>
    </div>
  </div>
  <br/>
  <h2>Total: £{{ total|string }}</h2>
  <a class="btn btn-info" href="{{ url_for('payment', total=total) }}">Check Out</a>
</div>
{% endblock %}