{% extends 'base.html' %}

{% block content %}
<br/>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" 
          class="btn-close" 
          data-bs-dismiss="alert" 
          aria-label="Close"></button>
      </div>
    {% endfor %}
    <h1>Welcome to FruitCo!</h1>
    <div class="credentials-container">
      <p>Have a browse and enjoy your stay :)</p>
      <img id="cave-emporium-image" 
      src="{{ url_for('static', filename='cave_emporium.jpg') }}">
      <div class="filter-button-container">
        <form method="POST">
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input 
            type="radio" 
            class="btn-check" 
            name="sortby" 
            id="name" 
            value="item">
            <label class="btn btn-outline-info" for="name">Name</label>
          
            <input 
            type="radio" 
            class="btn-check" 
            name="sortby" 
            id="price pw" 
            value="price_pw">
            <label class="btn btn-outline-info" for="price pw">Price Per Weight</label>
          
            <input 
            type="radio" 
            class="btn-check" 
            name="sortby" 
            id="price pi" 
            value="price_pi">
            <label class="btn btn-outline-info" for="price pi">Price Per Item</label>

            <input 
            type="radio" 
            class="btn-check" 
            name="sortby" 
            id="environmental" 
            value="environmental">
            <label class="btn btn-outline-info" for="environmental">Environment Impact</label>
          </div>
          <input type="submit" class="btn btn-info" id="filter" value="Filter" style="float: right;">
        </form>
      </div>
    </div>
    <br/>
    {% for item in items %}
      <div class="item-display-container"> 
        <h2>{{ item.item }}</h2>
        <hr>
        <i>{{ item.short_desc }}</i>
        <hr>
        <img src="{{ url_for('static', filename=item.filename) }}" 
          alt="{{ item.item }}"
          height="150px"
          width="auto"
          style="float: left">
        <center>
          <form method="POST" action="/add_to_cart/{{item.id}}">
            <input type="hidden" 
              name="price" 
              id="{{ item.short_desc }}" 
              value="{{ item.price_pw }}">

            <input type="hidden" 
              name="type" 
              id="{{ item.filename }}" 
              value="|KG">

            <div class="index-form">
              <button type="submit" class="btn btn-info">Add to Cart</button>
              <br/><br/>
              <div class="info">
                <input type="radio" 
                  name="{{ item.item }}" 
                  id="{{ item.item }}pw" 
                  value="{{ item.price_pw }}" 
                  onClick="perWeight('{{ item.item }}', '{{ item.price_pw }}', '{{ item.short_desc }}', '{{ item.filename }}')" checked="checked">
                <label for="{{ item.item }}pw"><p>Price Per Weight</p></label>&emsp;
                
                <input type="radio" 
                  name="{{ item.item }}" 
                  id="{{ item.item }}pi" 
                  value="{{ item.price_pi }}" 
                  onClick="perItem('{{ item.item }}', '{{ item.price_pi }}', '{{ item.short_desc }}', '{{ item.filename }}')">
                <label for="{{ item.item }}pi"><p>Price Per Item</p></label>
          </form>
                <br/>
                <p>Environmental impact: {{ item.environmental }}</p>
              </div>
              <a class="btn btn-info" href="{{ url_for('itempage', id=item.id) }}" style="float: right;">View More</a>
            </div>
          </center>
          <h2 id="{{ item.item }}" style="float: left;">£{{ item.price_pw }}<sub>/KG</sub></h2>
          <br/>
        </div>
        <br/>
        <script>
          function perWeight(id, item, hidden_id1, hidden_id2){
            text = '£' + item + '<sub>/KG</sub>';
            document.getElementById(id).innerHTML = text;
            price(item, "|KG", hidden_id1, hidden_id2)
          }
          function perItem(id, item, hidden_id1, hidden_id2){
            text = '£' + item + '<sub>/Item</sub>';
            document.getElementById(id).innerHTML = text;
            price(item, "|Item", hidden_id1, hidden_id2)
          }
          function price(price, type, hidden_id1, hidden_id2){
            var price = Number(price);
            document.getElementById(hidden_id1).value = price;
            document.getElementById(hidden_id2).value = type;
          }
        </script>
        {% endfor %}
{% endblock %}